
<ul id="adminSearch">
    <li>
        <i class="fa fa-user"></i> <a href="#" title="Sign In">Sign In</a>&nbsp; | &nbsp;<a href="#" title="Join">Join</a>
    </li>
    <li>
    <!-- <li *ngIf="!itemAdded"> -->
        <i class="fa fa-shopping-cart"></i> <a href="#" title="Cart">Cart</a>
    </li>
    <li>
        <input id="search" type="search" placeholder=" Search" title="Search">&nbsp;<span class="fa fa-search"></span>
    </li>
</ul>
 

<!-- Add a conditional statement to show or hide form based on user creds -->
<!-- <form class="form-control">
  <input type="text" placeholder="Sign in"><input type="password" placeholder="password">
</form> -->