<div id="cart">
  <hr>
  <select>
    <option id="color" value="color">Color</option>
    <option id="pink" value="pink">Pink</option>
    <option value="navy blue">Navy Blue</option>
    <option value="cream">Cream</option>
    <option value="ivory">Ivory</option>
  </select>
  <select>
      <option id="size" value="size">Size</option>
      <option value="ivory">x-Small</option>
      <option id="pink" value="pink">Small</option>
      <option value="navy blue">Medium</option>
      <option value="cream">Large</option>
    </select>
  <!-- <button type="button" class="btn-primary btn-sm">Edit Cart</button> -->
  <button type="button" class="btn-success btn-sm">Add to Cart</button>
</div>