<div class="container-fluid">
  <div id="fixed_header">
      <div class="row black_bar"><a href="#">Join our mailing list for a 15% Off your next purchase</a></div>
    
    <header id="header" class="row">
      <div id="navigation" class="col-xs-8">
        <app-navigation></app-navigation>
      </div>
      <div id="login" class="col-xs-4">
          <app-login></app-login>
      </div>
    </header>
  </div>
  <div id="sidebar">
      <app-sidebar></app-sidebar>
  </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-md-4">
        <app-retail-item></app-retail-item>
        <!-- <app-hat></app-hat>
        <app-gloves></app-gloves> -->
      </div>
      <div class="col-xs-2 col-md-4">
          <app-retail-item></app-retail-item>
      </div>
      <div class="col-xs-2 col-md-4">
          <app-retail-item></app-retail-item>
      </div>
      <div class="col-lg-12">
          <app-footer></app-footer>
        </div>
    </div>
  </div>

